// ---- Padding Utilities ----
.section--pad {
    padding-top: $padding--base;
    padding-bottom: $padding--base;
}

.pt {

    &--30,
    &--60,
    &--90 {
        padding-top: $padding--base;
    }
}

.pb {

    &--30,
    &--60,
    &--90 {
        padding-bottom: $padding--base;
    }
}

// ---- Margin Utilities ----

.section--marg,
.section--marg__huge {
    margin-top: $padding--base;
    margin-bottom: $padding--base;
}

.mt {

    &--30,
    &--60,
    &--90 {
        margin-top: $padding--base;
    }
}

.mb {

    &--30,
    &--60,
    &--90 {
        margin-bottom: $padding--base;
    }
}

@media only screen and (min-width: $breakpoint--tablet) {

    // ---- Padding Utilities ----
    .section--pad {
        padding-top: $padding--large;
        padding-bottom: $padding--large;
    }

    .pt {

        &--0 {
            padding-top: 0;
        }

        &--30 {
            padding-top: $padding--base;
        }

        &--60 {
            padding-top: $padding--large;
        }

        &--90 {
            padding-top: $padding--huge;
        }
    }

    .pb {

        &--0 {
            padding-bottom: 0;
        }

        &--30 {
            padding-bottom: $padding--base;
        }

        &--60 {
            padding-bottom: $padding--large;
        }

        &--90 {
            padding-bottom: $padding--huge;
        }
    }

    // ---- Margin Utilities ----

    .section--marg {
        margin-top: $padding--large;
        margin-bottom: $padding--large;
    }

    .section--marg__huge {
        margin-top: $padding--huge;
        margin-bottom: $padding--huge;
    }

    .mt {

        &--0 {
            margin-top: 0;
        }

        &--30 {
            margin-top: $padding--base;
        }

        &--60 {
            margin-top: $padding--large;
        }

        &--90 {
            margin-top: $padding--huge;
        }
    }

    .mb {

        &--0 {
            margin-bottom: 0;
        }

        &--30 {
            margin-bottom: $padding--base;
        }

        &--60 {
            margin-bottom: $padding--large;
        }

        &--90 {
            margin-bottom: $padding--huge;
        }
    }
}
