h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6 {
    font-family: $heading-font-family;
    margin-top: $padding--base;
    margin-bottom: $padding--base;
    line-height: 1.2;

    &__serif {
        font-family: $base-font-family;
        margin-top: $padding--base;
        margin-bottom: $padding--base;
        line-height: 1.2;
    }
}

h1,
.h1 {
    font-size: $type--size__h3;
}

h2,
.h2 {
    font-size: $type--size__h4;
}

h3,
.h3 {
    font-size: $type--size__h5;
}

h4,
.h4 {
    font-size: $type--size__h6;
}

h5,
.h5 {
    font-size: $type--size__base;
}

h6,
.h6 {
    font-size: $type--size__small;
}

// -- DESKTOP QUERY --
@media only screen and (min-width: $breakpoint--tablet) {
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6 {
        margin-top: $padding--medium;
        margin-bottom: $padding--medium;

        &__serif {
            margin-top: $padding--medium;
            margin-bottom: $padding--medium;
        }
    }

    h1,
    .h1 {
        font-size: $type--size__h1;
    }

    h2,
    .h2 {
        font-size: $type--size__h2;
    }

    h3,
    .h3 {
        font-size: $type--size__h3;
    }

    h4,
    .h4 {
        font-size: $type--size__h4;
    }

    h5,
    .h5 {
        font-size: $type--size__h5;
    }

    h6,
    .h6 {
        font-size: $type--size__h6;
    }
}
