.login-status {
    color: $color--default;
    align-items: flex-end;
    font-size: $type--size__small;
    display: inline-block;
    margin-left: 30%;
    padding-top: 10%;

    .js-badgeAuth {
        display: none; // display none because no auth

        &.auth {
            display: block; // add auth class, show
        }
    }

    .js-badgeNoAuth {
        display: block; // display because haven't authed user yet

        &.auth {
            display: none; // display none once user is authed, removed element with js from
        }
    }
}

// -- DESKTOP QUERY --
@media only screen and (min-width: $breakpoint--tablet) {

    .login-status {
        margin-left: 0;
        width: 100%;
        display: block;
        text-align: right;
        padding-top: $padding--small;
    }
}
